.content{
  margin: 0 auto;
  background-color: white;
  width: 1000px;
  height: 368px;
  margin-top: 10%;
  display: table;
  opacity: 0.95;
}
.message{
  text-align: center;
  padding-top: 10%;
  width: 175px;
  height: 100%;
  background-color: lightgray;
  display: table-cell;
  font-family: cursive;
}
.welcome-image{
  background-image: url("../images/welcome.jpg");
  width: 306px;
  display: table-cell;
  height: 368px;
}